body {
  background-image: url("../images/KC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 700;
  

  color: #ffff;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  background: #ca6b3a;
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #f57018;
}

#author {
  text-align: center;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  color: #ffff;
}
.buttons {
  position: relative;
  font-size: 25px;
  float: left;
}

.card {
  background: rgba(0, 0, 0, 0.6);
  border: solid #3369a5;
  border-radius: 29px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  margin: 10px; /*Add spacing between cards */
  max-width: -900px; /* Limit card with for uniformity */
}

.card-body {
  color: white;
}

.card-body img {
  max-width: 70%;
  margin: 0 auto;
  display: block;
  height: auto; /* Ensures images scale properly */
}

.card-footer {
  font-size: 18px; /* Slightly smaller text for footer */
}
.card-footer,
.time-day {
  text-align: center;
  color: white;
}

.card-group {
  border-radius: 29px;
}

.container {
  border: none;
  padding: 20px;
  font-family: "Source Code Pro", monospace;
  text-align: left;
}

.current-location {
  font-size: 20px;
  margin-top: 0.5px;
  text-align: left;
}

#description {
  text-transform: capitalize;
}

#icon {
  height: auto;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.Five-Day,
.Three-Hour {
  background-color: #2d6884;
  border: none;
  border-radius: 40px;
  color: black;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}

.location-time {
  text-align: right;
  font-size: 25px;
}

::placeholder {
  color: grey;
  font-size: 25px;
}

#precip,
#wind {
  font-size: 35px;
}

.row {
  gap: 15px; /* Add space between columns */
  margin: 0 auto;
  justify-content: center;
}

.time-day {
  border-radius: 39px;
  font-size: 25px;
}

.Weather {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
